@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot');
	src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
	url('../fonts/icomoon.woff') format('woff'),
	url('../fonts/icomoon.ttf') format('truetype'),
	url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	background-color: #4682B4;
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
	position: relative;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

i {
	font-style: normal;
}

a {
	text-decoration: none;
	color: #FFF;
}

a:hover,
a:focus {
	color: #e5f3ff;
}

.icon {
	font-family: 'icomoon';
}

.icon--home::before {
	content: '\e901';
}

.icon--cross::before {
	content: '\ea0f';
}

.icon--checkmark::before {
	content: '\ea10';
}

.game__title,
.about__title,
.about__subtitle,
.header__title {
	font-family: 'Merienda', cursive;
	font-weight: 700;
}

.proceed-text {
	text-transform: uppercase;
	color: #4CAF50;
}

.reset-text {
	text-transform: uppercase;
	color: #B30F00;
}

.wrapper {
	max-width: 900px;
	margin: auto;
}

.game__title,
.game__description,
.about__title {
	text-align: center;
	word-wrap: break-word;
}

.about {
	text-align: center;
	padding: 50px 0 0;
	color: #FFF;
}

.about__title {
	font-size: 24px;
	margin-bottom: 25px;
}

.about__subtitle {
	font-size: 20px;
	font-weight: normal;
}

.about__description {
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
}

.about__devs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 20px;
}

@media (min-width: 767px) {
	.about__devs {
		justify-content: center;
	}
}

.dev {
	text-align: left;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: normal;
	padding: 20px;
	margin-bottom: 20px;
}

@media (max-width: 767px) {
	.dev {
		flex-basis: 80%;
	}
}

.dev__photo {
	border-radius: 50%;
	margin-right: 10px;
}

.dev__name {
	font-size: 17px;
	margin-bottom: 5px;
}

.dev__email {
	font-size: 14px;
	color: #CCC;
	font-style: italic;
}

.game {
	background-color: #FFF;
	padding: 50px 0;
}

.game__title {
	font-size: 32px;
	margin-bottom: 25px;
	color: #336894;
}

.game__description {
	font-size: 20px;
	color: #4D4D4D;
}

.game-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-transform: uppercase;
	font-size: 32px;
	margin: 80px 0 50px;
}

.answer-container {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-ms-flex-preferred-size: 280px;
	flex-basis: 260px;
	padding: 0 20px;
}

@media (min-width: 767px) {
	.answer-container {
		padding: 0 40px;
	}
}

.answer__image {
	width: 50%;
	max-width: 150px;
	margin: auto;
}

.answer__image img {
	width: 100%;
}

.form-game {
	-webkit-box-flex: 0;
	-ms-flex: 0 0;
	flex: 0 0;
	margin-top: 20px;
	text-align: center;
}

@media (min-width: 767px) {
	.form-game__row {
		margin-bottom: 0;
	}
}

.form-game__input {
	width: 100%;
	border: none;
	border-bottom: 3px solid #336894;
	outline: none;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	color: #336894;
	font-size: 32px;
	background-color: #FFF;
}

.form-game__input::-webkit-input-placeholder {
	font-size: 20px;
	font-weight: 100;
	color: #8DB3D3;
}

.form-game__input:-ms-input-placeholder {
	font-size: 20px;
	font-weight: lighter;
	color: #8DB3D3;
}

.form-game__input::placeholder {
	font-size: 20px;
	font-weight: lighter;
	color: #8DB3D3;
}

.letters {
	-webkit-box-flex: 2;
	-ms-flex: 2 0 280px;
	flex: 2 0 260px;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	max-width: 700px;
	padding-top: 15px;

	border: solid #C4D8E8 1px;
	border-radius: 5px;
	-webkit-box-shadow: 0 3px 5px rgba(70, 130, 180, 0.25);
	box-shadow: 0 3px 5px rgba(70, 130, 180, 0.25);
}

.letters__card {
	will-change: color, background-color;
	background-color: #FFF;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	cursor: pointer;
	border: #000 solid 2px;
	border-radius: 3px;
	margin: 0 5px 15px 5px;
	width: 75px;
	height: 75px;

	-webkit-transition: color, border-color;

	-o-transition: color, border-color;

	-webkit-transition: color, background-color;

	-o-transition: color, background-color;

	transition: color, background-color;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.letters__card--selected {
	will-change: color, background-color;
	background-color: #4682B4;
	color: #FFF;
}

.button {
	outline: none;
	background-color: #FFF;
	border: 2px solid;
	padding: 12px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 5px;
	-webkit-transition-duration: 0.4s;
	/* Safari */
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
}

.button--send {
	border-color: #4CAF50;
	color: #4CAF50;
}

.button--send:hover,
.button--send:focus {
	background-color: #4CAF50;
	color: #FFF;
}

.button--reset {
	border-color: #B30F00;
	color: #B30F00;
}

.button--reset:hover,
.button--reset:focus {
	background-color: #B30F00;
	color: #FFF;
}

.separator {
	min-width: 130px;
	width: 40%;
	height: 3px;
	display: inline-block;
	font-size: 28px;
	color: #4682B4;
	margin: 60px auto 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #4682B4;
}

.separator::after {
	content: '\e9d9';
	font-family: 'icomoon';
	background-color: #FFF;
	padding: 0 10px;
	margin: 0 auto;
}

.separator--secundary::after {
	background-color: #4682B4;
}

.separator--secundary {
	background-color: #FFF;
	color: #FFF;
}




/* --------------- Header ----------------- */

.header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	padding: 0 10px;
}

.header__title {
	-webkit-box-flex: 2;
	-ms-flex-positive: 2;
	flex-grow: 2;
	margin: 8px 0;
	color: #FFF;
}

/* --------------- Menu ----------------- */
.float-button {
	cursor: pointer;
}

.float-button::after {
	content: '\e9bd';
	font-family: 'icomoon';
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 15px;
	background-color: #FFF;
	border-radius: 50%;
	-webkit-box-shadow: 3px 5px 5px rgba(70, 130, 180, 0.25);
	box-shadow: 3px 5px 5px rgba(70, 130, 180, 0.25);
	border: 0;
	outline: 0;
	color: #4682B4;
	z-index: 2;
	font-size: 22px;
}

.click {
	display: none;
}

.click:checked~.float-button::after {
	content: '\ea0f';
	font-size: 18px;
}



/* Abre/Fecha o menu */

.click:checked~.main-nav .main-nav__list {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translateY(45%);
	-ms-transform: translateY(45%);
	transform: translateY(45%);
}


.main-nav {
	position: relative;
}

.main-nav__list {
	font-size: 14px;
	position: absolute;
	top: 15px;
	right: 20px;
	-webkit-transition: opacity, visibility, -webkit-transform;
	transition: opacity, visibility, -webkit-transform;
	-o-transition: transform, opacity, visibility;
	transition: transform, opacity, visibility;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	transition-timing-function: linear;
	visibility: hidden;
	opacity: 0;
}

.main-nav__link {
	display: block;
	padding: 7px 30px;
	background-color: #4682B4;
	border-radius: 5px;
	margin-bottom: 10px;
	visibility: inherit;
}

.main-nav__link:hover {
	background-color: #478ac1;
	color: #FFF;
	text-decoration: none;
}

@media (min-width: 767px) {

	.float-button {
		display: none;
	}

	.main-nav__list {
		position: static;
		height: 100%;
	}

	.main-nav__list--hidden {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
		visibility: visible;
	}

	.main-nav__item {
		display: inline-block;
		height: 100%;
	}

	.main-nav__link {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin-bottom: 0;
		border-radius: 0;
		border-left: 1px solid #FFF;
		height: 100%;
		padding-top: 0;
		padding-bottom: 0;
	}
}
